<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>表单绑定 + 条件渲染</title>
</head>

<body>
	<div id="app">
		<div v-if="isLogin">
			欢迎您！{{account}} <a href="" v-on:click.prevent="logout()">退出</a>
		</div>
		<div v-if="isRegister">
			<div>
				邮箱: <input type="text" v-model="email">
			</div>
			<div>
				密码: <input type="password" v-model="password">
			</div>
			<div>
				用户名: <input type="text" v-model="username">
			</div>
			<div>
				<button @click="notRegister()">返回</button>
				<button @click="register()">提交</button>
			</div>
		</div>
		<div v-if="check()">
			尚未登录，请先登录
			<!-- <a href="" v-on:click.prevent="login()">立即登录</a> -->
			<div>
				账户: <input type="text" v-model="account">
			</div>
			<div>
				密码: <input type="password" v-model="password">
			</div>
			<div>
				<button @click="login()">登录</button>
				<button @click=isRegistering()>注册</button>
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
	new Vue({
		el: "#app",
		data: {
			email: "",
			account: "",
			username: "",
			password: "",
			isLogin: false,
			isRegister: false
		},
		methods: {
			login: function () {
				console.log('login');
				// 前端校验
				if (this.account == '') {
					alert('请填写账户');
					return;
				}
				if (this.password == '') {
					alert('请填写密码');
					return;
				}
				var params = {
					account: this.account,
					password: this.password
				};
				var that = this;
				axios.post('http://localhost:3000/api/signin', params)
					.then(function (response) {
						console.log(response);
						if (response.status == 200) {
							that.isLogin = true;
						}
					})
					.catch(function (error) {
						console.log(error);
						alert('该账户不存在或密码错误');
						that.account = '';
						that.password = '';

					});
			},
			logout: function () {
				this.isLogin = false;
				this.account = '';
				this.password = '';
			},
			register: function () {
				console.log('register');
				if (this.email == '') {
					alert('请填写邮箱');
					return;
				}
				if (this.password == '') {
					alert('请填写密码');
					return;
				}
				if (this.username == '') {
					alert('请填写用户名');
					return;
				}
				var params = {
					email: this.email,
					password: this.password,
					username: this.username
				};
				var that = this;
				axios.post('http://localhost:3000/api/signup', params)
					.then(function (request) {
						if (request.status == 201) {
							alert('注册成功！立即登录！')
							that.email = ''
							that.username = ''
							that.password = ''
							that.isRegister = false;
						}
					})
					.catch(function (error) {
						console.log(error);
						alert('邮箱或用户名已被注册');
						that.email = '';
						that.username = '';
						that.password = ''

					});
			},
			isRegistering: function () {
				this.account = '';
				this.email = '';
				this.username = '';
				this.password = '';
				this.isRegister = true;
			},
			notRegister: function () {
				this.email = '';
				this.username = '';
				this.password = '';
				this.isRegister = false;
			},
			check: function () {
				if (!this.isRegister && !this.isLogin) {
					return true;
				} else {
					return false;
				}
			}
		}
	});
</script>

</html>