/* This is the css profile for profile page. */
.profile-intro-upload {
    margin-left: 70px;
    margin-top: 40px;
    margin-right: 70px;
}

body {
    background-image: url(resources/7171662534038_.pic_hd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

/* .account-avatar {
    border-radius: 50%;
}

.avatar-area {
    display: inline-block;
    margin-top: 70px; 
}

.intro-area {
    display: inline-block;
    margin-left: 100px;
} */

.text-container {
    width: 600px;
    height: 125px;
    background-color: white;
    align-items: center;
}

.tabs {
    margin-top: 30px;
}

.my-videos-area {
    padding-top: 20px;
}

.favourite-videos-area {
    padding-top: 20px;
}


.col {
    padding: 30px
}

#intro-tab-pane {
    margin-top: 30px;
}

.update-button {
    margin-top: 20px;
}

.profile-info {
    font-size: 20px;
    font-style: normal;
}

/* .upload-area {
    display: inline-block;
} */